input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance:textfield;
}

/*Farben
Copperplate Gothic  Text Stxle
            DDDDDD  Hintergrund/hellgrau
            383838  Grau/vom Logo
            8D8D8D  Grau Slidebar button
            D0D0D0  Grau Slidebar
            9D0071  Violet/vom Logo
            000000  Schwarz

*/
body{
    margin: 0px;
    padding: 0px;
    whidth: 100vw;
    height: 100vh;
    background-color: #DDDDDD;
    display: flex;
    flex-direction: column;
    font-family: "Century Gothic";
    text-align: center;
    justify-content: flex-start;
    overflow: hidden;
}
footer{
    position: absolute;
    bottom: 0;
}
.input{
    width: 200px;
    font-family: "Century Gothic";
    border-radius: 8px;
    background-color: #383838;
    color: #DDDDDD;
    font-weight: bolder;
    border: unset;
    text-align: center;
    margin-top: 15px;
}
.button{
    width: 200px;
    font-family: "Century Gothic";
    border-radius: 8px;
    background-color: #383838;
    color: #DDDDDD;
    font-weight: bolder;
    border: unset;
    margin-top: 15px;
}
.ButtonImage{
    background-color: unset;
    border: unset;
}
#logo{
    height: 200px;
}
#text{
     height: 100px;
}
#column{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
#slide{
    padding: 20px;
    display: none;
    background-color: #D0D0D0;
}
#sidebarbutton{
    padding: 10px;
    background-color: #8D8D8D;
}
