/*Farben und so
Copperplate Gothic  Text Stxle
            DDDDDD  Hintergrund/hellgrau
            383838  Grau/vom Logo
            8D8D8D  Grau Slidebar button
            D0D0D0  Grau Slidebar
            9D0071  Violet/vom Logo
            000000  Schwarz

*/

/*Algemeines*/
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    input[type=number] {
        -moz-appearance:textfield;
    }
    body{
        margin: 0px;
        padding: 0px;
        whidth: 100vw;
        height: 100vh;
        background-color: #DDDDDD;
        display: flex;
        flex-direction: column;
        font-family: "Century Gothic";
        text-align: center;
        justify-content: flex-start;
        overflow: hidden;
    }
    footer{
        position: absolute;
        bottom:0;
        height: 40px;
        width: 100vw;
        font-size: 13px;
        color: #8D8D8D;
        background-color: #D0D0D0;
        z-index:1;
    }

/*Algemeines Ende*/

/*DIVs and Fonts*/
.font01{
    font-size: 13px;
    color: #9D0071;
}
.font02{
    font-size: 13px;
    color: #8D8D8D;
}
.div02{
    position: absolute;
    left: 0;
    height: 20px;
    width: 82px;
    background-color: #D0D0D0;
    z-index:2
}
.div01{
    position: absolute;
    left: 0;
    height: 70vh;
    width: 100px;
    background-color: #D0D0D0;
    margin-top: 40px;
    z-index:1
}
.div03{
    position: absolute;
    left: 0;
    height: 75vh;
    width: 500px;
    background-color: #DDDDDD;
    margin-left: 105px;
    z-index:0;
    text-align: left;
}

/*DIVs Ende*/

/*Buttons*/
    .button{
        width: 200px;
        font-family: "Century Gothic";
        border-radius: 8px;
        background-color: #383838;
        color: #DDDDDD;
        font-weight: bolder;
        border: unset;
        margin-top: 15px;
    }
    .ButtonImage{
        background-color: unset;
        border: unset;
    }
    .buttonSlide{
        width: 200px;
        font-family: "Century Gothic";
        border-radius: 8px;
        background-color: #8D8D8D;
        color: #383838;
        border: unset;
        margin-top: 15px;
        height: 30px;
        width: 300px;
    }
    .button01{
        font-family: "Century Gothic";
        border: none;
        background-color: unset;
        font-size: 15px;
        color: #383838;
    }
/*Buttons Ende*/

/*Slider*/
    #slide{
        padding: 1px;
        display: none;
        background-color: #D0D0D0;
    }
    #sidebarbutton{
        margin-top: 30px;
        padding: 10px;
        background-color: #8D8D8D;
        font-size: 20px;
        font-weight: bolder;
    }
#slide1{
    padding: 1px;
    display: none;
    background-color: #D0D0D0;
}
#sidebarbutton1{
    padding: 10px;
    background-color: #D0D0D0;
    font-size: 15px;
    font-weight: bold;
}

/*Slider Ende*/

/*Input*/
    .input{
        width: 200px;
        font-family: "Century Gothic";
        border-radius: 8px;
        background-color: #383838;
        color: #DDDDDD;
        font-weight: bolder;
        border: unset;
        text-align: center;
        margin-top: 15px;
    }
    .inputControl{
        width: 200px;
        font-family: "Century Gothic";
        border-radius: 8px;
        background-color: #8D8D8D;
        color: #383838;
        border: unset;
        margin-top: 15px;
        height: 30px;
        width: 300px;
        text-align: center;
    }
/*Input Ende*/

/*Images*/
    #logo{
        height: 200px;
    }
    #text{
        margin-top: 30px;
         height: 40px;
    }
/*Images Ende*/
